[submodule "Admin-LTE"]
	path = AdminLTE
	url = https://github.com/almasaeed2010/AdminLTE.git
[submodule "x-editable"]
	path = x-editable
	url = https://github.com/vitalets/x-editable.git
[submodule "select2-bootstrap-theme"]
	path = select2-bootstrap-theme
	url = https://github.com/select2/select2-bootstrap-theme.git
[submodule "clipboard.js"]
	path = clipboard.js
	url = https://github.com/zenorocha/clipboard.js.git
